templates/rss-telegram-notifier.json
{
  "name": "RSS Feed → Telegram Digest",
  "description": "Monitor RSS feeds and send new articles to Telegram as a digest.",
  "version": 1,
  "nodes": [
    {
      "parameters": {
        "url": "https://example.com/feed.xml",
        "options": {
          "limit": 20
        }
      },
      "id": "rss",
      "name": "Read RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "new-items",
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ $vars.lastRun || $now.toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter",
      "name": "Filter New",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst count = items.length;\n\nlet message = `📰 *RSS Digest*\\n\\n${count} new article${count !== 1 ? 's' : ''}:\\n\\n`;\n\nfor (const item of items.slice(0, 10)) {\n  const { title, link, pubDate, description } = item.json;\n  const cleanDesc = (description || '').replace(/<[^>]+>/g, '').substring(0, 100);\n  message += `• *${title}*\\n  ${cleanDesc}...\\n  🔗 ${link}\\n\\n`;\n}\n\nif (count > 10) {\n  message += `_...and ${count - 10} more_`;\n}\n\nreturn [{ json: { message } }];"
      },
      "id": "format",
      "name": "Format Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Read RSS": {
      "main": [
        [{ "node": "Filter New", "type": "main", "index": 0 }]
      ]
    },
    "Filter New": {
      "main": [
        [{ "node": "Format Digest", "type": "main", "index": 0 }]
      ]
    },
    "Format Digest": {
      "main": [
        [{ "node": "Telegram", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "rss-telegram-notifier"
}
