templates/schedule-trigger.json
{
  "name": "Schedule Trigger → HTTP Request → Log",
  "description": "Runs on a cron schedule, calls an API endpoint, logs the result",
  "version": 1,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cron",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.example.com/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-request",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "entries": {
          "values": [
            {
              "name": "=Response from {{ $json.headers['x-api-name'] || 'API' }}",
              "value": "={{ JSON.stringify($json) }}"
            }
          ]
        }
      },
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "HTTP Request", "type": "main", "index": 0 }]
      ]
    },
    "HTTP Request": {
      "main": [
        [{ "node": "Log Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "schedule-trigger-workflow"
}
